@font-face {
    font-family: 'Lettertype';
    src: url('fonts/Lettertype-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lettertype', sans-serif;
}

#pageTitle {
    position: absolute;
    top: 5px; 
    left: 25px;
    font-size: 35px;
    font-weight: bold;
    color: #333;
}

#pageSubtitle {
    position: absolute;
    top: 78px; 
    left: 27px;
    font-size: 14px;
    font-weight: bold;
    color: #747474;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    gap: 60px;  /* Space between the image and the labels */
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#charInput, #submitButton {
    padding: 10px;
    font-size: 16px;
}

#charInput {
    width: 130px;
    height: 130px; 
    text-align: center; 
    font-size: 40px; 
    border: 1.5px solid #333; 
    border-radius: 5px;
    outline: none;
    caret-color: black;
    animation: blink-caret 1s infinite;
}

#charInput:hover {
    border-color: #007bff;
    background-color: #f0f0f0;
}

#submitButton {
    width: 150px;
    height: 50px; 
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}

#submitButton:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#displayedImage {
    display: none;
    max-width: 400px;
    max-height: 400px;
    height: auto;
    border-radius: 10px;
}

#imageLabel {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 14px;
    display: none;
}

#imageFooter { /*idk if this is doing smth*/
    font-size: 10px;
    color: #000000;
    text-align: center;
    display: none;
}

p {
    font-size: 12px;
    color: #555;
}
